body {
    background: #D5E1EF;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 20rem;
    background: #FFFFFF;
    border-radius: 1rem;
    text-align: center;
}

.card-image {
    width: 90%;
    border-radius: 0.625rem;
    margin: 5%;
}

.card-heading {
    font-size: 1.2rem;
    font-weight: 700;
    color: #020202;
    margin: 2% 5%;
    padding: 0 5%;
}

.card-description {
    font-size: 0.875rem;
    font-weight: 400;
    color: #727272;
    margin: 5% 5% 12%;
    padding: 0 5%;
}